html, * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #cac690;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

header {
  padding: 20px;  
  background-color:rgb(138, 2, 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  display: inline-block;
  font-size: 40px;
  color: #cac690;
}

header h2 {
  font-size: 20px;
  margin: 8px 0;
  color: #cac690;
  float: none;
  text-align: left;
  padding: 20px;
}

nav {
  color: #cac690;
  padding-top: 20px;
  margin: auto;
  float: right;  
  font-size: 20px;
}

nav a {
  color: #cac690;
  padding: 4px;
}

nav a:hover {
  background-color: #cac690;
  color: rgb(138, 2, 2);
  text-decoration: none;
  transition: all 300ms ease;
}

main {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

main h2 {
  text-align: right;
  margin-right: 12px;
  width: 300px;
  color: rgb(138, 2, 2);
  font-size: 32px;  
  padding: 12px 0;
}

main div {
  padding: 12px;
  border-left: 2px solid rgb(138, 2, 2);
}

article, section {
  display: flex;
}

section a {
  display: flex;
  display: inline-block;
  width: 50%;
}

section a:nth-child(1) {
  display: flex;
  display: inline-block;
  width: 100%;
}

img {
  height: 150px; 
  width: auto; 
}

p {
  color: rgb(138, 2, 2);
}

footer {
  background-color: rgb(138, 2, 2);
  color: #cac690;
  padding: 20px;
  font-size: 20px;
}

footer h2 {
  display: inline-block;
  text-align: right;  
  width: 300px;
  font-size: 32px;  
  border-right: 2px solid #cac690;
  padding: 0 12px;
}

footer a {
  color: #cac690;
  padding: 4px;
  float: right;
  
}
