html, * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #cac690;
  font-family: Verdana, Geneva, Tahoma, sans-serif;     
}

header {
  padding: 20px;  
  background-color:rgb(138, 2, 2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  text-shadow: 2px 2px 0 black;
}

header h1 {
  display: inline-block;
  font-size: 40px;
  color: #cac690;
  float: left;
}

header h2 {
  font-size: 20px;
  margin: 8px 0;
  color: #cac690;
  float: left;
  text-align: left;
  padding: 20px;
}

nav {
  color: #cac690;
  padding-top: 20px;
  margin: 20px;
  float: right;  
  font-size: 20px;
}

nav a {
  color: #cac690;
  padding: 4px;
}

nav a:hover {
  background-color: #cac690;
  color: rgb(138, 2, 2);
  text-decoration: none;
  transition: all 500ms ease;
}

.sunrise {
  margin: 0;
  padding: 0;
  height: 200px;
  width: 100%;
  border-bottom: 2px solid rgb(138, 2, 2);
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  flex-direction: column;
}

main h2 {
  text-align: right;
  margin-right: 12px;
  width: 25%;
  color: rgb(138, 2, 2);
  font-size: 32px;  
  padding: 12px 0;
  text-shadow: 2px 2px 0 black;
}

main div {
  padding: 12px;
  border-left: 2px solid rgb(138, 2, 2);
  width: 75%;
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
}

span {
  text-decoration: none;
  color: rgb(138, 2, 2);
}

article, section {
  display: flex;
}

.profile-pic {
  border: 1px solid rgb(138, 2, 2);
  background-color: black;
  height: 100px;
  width: 100px;
}

main div a {
  display: flex;
  flex-direction: column;
  width: 50%;
}

main div a img:hover {
  opacity: 75%;
  transition: all 500ms ease;
  border: 2px solid rgb(138, 2, 2);
  background-color: black;
}

main div a:nth-child(1) {
  display: flex;
  width: 100%;
}

img {
  width: 100%; 
  padding: 2px;
}

p {
  color: rgb(138, 2, 2);
  padding: 4px 0;
  text-shadow: .25px .25px 0 black;
}

footer {
  display: flex;  
  background-color: rgb(138, 2, 2);
  color: #cac690;
  padding: 20px;
  font-size: 20px;
  width: 100%;
  border-top: 2px solid black;
  text-shadow: 2px 2px 0 black;
}

footer h2 {  
  text-align: right;  
  width: 25%;
  font-size: 32px;   
  padding: 12px;
  
}

footer nav {    
  width: 75%;  
  border-left: 2px solid #cac690;
}

footer a {
  float: right;
  color: #cac690;
  padding: 4px;
}

